#servicosValidacaoSecretariado{
  width: 70vw;
}

.servicos_list_col section{
  margin-left: 10px;
  font-size: .8vw;
  margin-bottom:2vw;
}

.service_unit{
  padding: 0.5vw;
  background: #c5d0de;
  margin-bottom: 5px;
  width: calc(100% - 50px);
  margin-left: 16px;
  border-radius: 5px;
}

.service_unit i{
  color: #1072ff;
  cursor: pointer;
}

#servicos_uma_validacao .service_unit i{
  float: right;
}

#servicos_duas_validacao .service_unit i{
  margin-right: 25px;
}

#servicos_uma_validacao, #servicos_duas_validacao{
  height: calc(100vh - 250px);
  overflow: auto;

}